//Google Fonts Imports
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&family=Poppins:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.app-container{
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;

}

.app-header{
  width: 20vw;
  height: 100%;
  display: flex;
  background: #FAFBFD;
}

.app-main{
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 1rem;

}

.input-title{
  width: 100%;

  h1{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #4F4F4F;
  }
}

.copyright{
  width: 100%;
  margin: 25px 0 0 20px;
  p{
    font-family: 'Montserrat',sans-serif;
    color: #9e9e9e;
    font-weight:500;
  }

  a{
    color: #9e9e9e;
    font-weight: 700;
  }
}
