//Google Fonts Imports
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&family=Poppins:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:wght@400;700&display=swap');

.app-container{
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.app-header{
  width: 20vw;
  height: 100%;
  display: flex;
  background: #FAFBFD;
}

.app-main{
  display: flex;
  width: 100%;
  height: 100%;
}